{#
/**
 * @file
 * Default theme implementation to display the commerce_add_to_cart_popup_link.
 *
 * Available variables:
 * - link: The link element.
 * - product_entity: The product entity.
 * - view_mode: The view mode.
 * - display: The entity view display.
 *
 * @ingroup themeable
 */
#}
{%
  set classes = [
  'add-to-cart-popup-link',
  view_mode ? 'add-to-cart-popup-link--' ~ view_mode|clean_class
]
%}
<div {{ attributes.addClass(classes) }}>
  {{ link }}
</div>
